body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background: RGB(18.0% 0.5% 28.5%);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: bold;
}
.navbar-collapse {
    justify-content: flex-end;
}
.pageTitle {
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}
.container .row .col img{
    display: block;
    margin: 8px auto;
    max-width: 265px;
}
footer {
    width: 100%;
    height: 50px;
    background-color: RGB(18.0% 0.5% 28.5%);
    text-align: center;
    font-weight: 600;
    color: #F9FAF8;
    font-size: 12px;
}

.copyright {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
}